@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');

body {
    max-width: 1200px;
    background-color: #f2f2f2;
    margin: auto;
    overflow-x: hidden;
}
header{
    width: auto;
    background-color: white;
}

.header-container{
    display: flex;
    height: 50px;
    justify-content: space-around;
    align-items: center;
    font-size: 14px;
}
.header-container a{
    color: #000000;
    text-decoration: none;
}
.header-container a:hover{
    color: #000000;
}
#logo-img{
    align-self: flex-start;
}
.intro-container{
    background-image: url("img/background_photo.png");
    height: auto;
    width: auto;
}
.intro-container{
    text-align: center;
}
#welcome{
    padding: 110px 0 15px 0;
}
#sedona{
    padding: 60px 0 55px 0;
}
.img-block img{
    display: block;
    width: 100%;
}
.intro-text{
    height: 216px;
    background-color: white;
    display: flex;
    align-items: center;
}
.intro-wrapper{
    max-width: 510px;
    margin: auto;
}

.information{
    display: grid;
    grid-template-areas: "first second second"
    "card1w card2w card3w"
    "bridge bridge cardBlue"
    "gray1 gray2 gray3";
    grid-template-columns: 1fr 1fr 1fr;
}
.f {
    background-color: #81b3d2;
    grid-area: first;
    padding: 20px;
}
.flex-middle{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.wrapper {
    text-align: center;
    margin: auto;
}
.nOne{
    padding: 35px 0;
}
.d {
    grid-area: second;
}
.d img{
    width: 100%;
    height: 100%;
}
.card1w{
    grid-area: card1w;
}
.card2w{
    grid-area: card2w;
}
.card3w{
    grid-area: card3w;
}
.white-card{
    background-color: white;
    padding: 30px 30px;
}
.middleCardText{
    padding: 20px 0;
}
#bridge_img{
    grid-area: bridge;
}
#bridge_img img{
    width: 100%;
    height: 100%;
    display: block;
}
.cardBlue2{
    grid-area: cardBlue;
    background-color: #81b3d2;
    padding: 20px;
}
#gray1{
    grid-area: gray1;
}
#gray2{
    grid-area: gray2;
}
#gray3{
    grid-area: gray3;
}
.grayCard{
    background-color: #eeeeee;
    height: 250px;
    padding: 10px;
}
.search{
    text-align: center;
    background-color: white;
    display: flex;
    flex-wrap: wrap;

}
.search1{
    padding: 35px 0;
}
.search2{
    padding-bottom: 50px;
}
.wrap{
    margin: auto;
}

#searchHotel{
    width: 568px;
    height: 86px;
    background-color: #766357;
    border: none;
    font-weight: 700;
    margin: auto;
}
.map{
    background: url("img/map.png");
    width: auto;
    height: 470px;
}

footer{
    height: 120px;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 0 125px;
}
.logo_flex{
    display: flex;
    align-items: center;
}
.logo_flex div {
    padding: 0 5px;
}
.socialContainer{
    background-color: #81b3d2;
    margin: 3px;
    width: 46px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.social{
    display: flex;
}
.modal{
    width: 468px;
    height: 310px;
    background-color: white;
    margin: auto;
    box-shadow: 1px 1px 8px 1px gray;
    padding: 50px 50px;
    display: grid;
    grid-template-areas:
    "date1Text date1Input date1Input date1Input"
    "date2Text date2Input date2Input date2Input"
    "adult counter1 children counter2"
    "find find find find";
    grid-template-rows: 38px 38px 38px 100px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 30px 0;
}
.modal div{
    display: flex;
    align-items: center;
}
.date1Text{
    grid-area: date1Text;

}
.date1Input{
    grid-area: date1Input;
    display: flex;
    justify-content: space-between;
    background-color: #f2f2f2;
    padding: 0 15px;
}
.date2Text{
    grid-area: date2Text;
}
.date2Input{
    grid-area: date2Input;
    display: flex;
    justify-content: space-between;
    background-color: #f2f2f2;
    padding: 0 15px;
}
.adult{
    grid-area: adult;
    display: flex;
    justify-content: flex-start;

}
.counter1{
    grid-area: counter1;
    display: flex;
}
.children{
    grid-area: children;
    display: flex;
    justify-content: flex-end;
    margin-right: 20px;
    align-items: baseline;

}
.counter2{
    grid-area: counter2;
    display: flex;
}
.counter1 div, .counter2 div{
    width: 38px;
    height: 38px;
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
}
.find{
    grid-area: find;
    top: 30px;
}
.findHotel{
    height: 58px;
    background-color: #81b3d2;
    border: none;
    width: 467px;
}
.findHotel:focus{
    border: none;
}

@media screen and (max-width: 800px){
    body{
        width: 100%;
        padding: 0;
    }
    #searchHotel{
        width: 310px;
    }
    .modal{
        width: 290px;
        height: 400px;
        background-color: white;
        margin: auto;
        box-shadow: 1px 1px 8px 1px gray;
        padding: 10px;
        display: grid;
        grid-template-areas:
        "date1Text dat1Text"
        "date1Input date1Input"
        "date2Text date2Text"
        "date2Input date2Input"
        "adult counter1"
        "children counter2"
        "find find";
        grid-template-rows: 38px 38px 38px 38px 38px 38px 100px;
        grid-template-columns: 1fr 1fr;
        grid-gap: 10px 0;
    }
    .children{
        justify-content: flex-start;
    }
    .information {
        display: flex;
        flex-direction: column;
    }
    .white-card, .grayCard{
        padding: 10px 30px;
    }
    .counter1, .counter2{
        justify-content: flex-end;
    }
    footer{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: flex-start;
        padding: 0 20px;
    }
    footer div{
        margin: 3px 0;
    }
}
@media screen and (max-width: 500px) {

}
.PT-sans-normal{
    color: #000000;
    font-family: "PT Sans";
    font-weight: 700;
    font-style: normal;
    letter-spacing: normal;
    line-height: 26px;
    text-align: center;
    text-transform: uppercase;
}
.PT-sans-another{
    color: #333333;
    font-family: "PT Sans";
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 26px;
    text-align: center;
    text-transform: uppercase;
}
.text-white-h{
    color: #ffffff;
    font-family: "PT Sans";
    font-size: 21px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 21px;
    text-align: center;
    text-transform: uppercase;
}
.text-white-t{
    font-family: "PT Sans Regular 400";
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    color: #c5dcea;
    text-align: center;
    text-transform: uppercase;
}
.PT-sans-big{
    color: #000000;
    font-family: "PT Sans";
    font-size: 30px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: normal;
    line-height: 36px;
}
.inTheLines:before, .inTheLines:after {
    content: '';
    display: inline-block;
    vertical-align: middle;
    box-sizing: border-box;
    width: 30px;
    height: 2.5px;
    background: #766357;
    border: solid #766357;
    border-width: 0 15px;
    margin: 0 15px 20px 15px;
}
.inTheLines:before{
    margin-left: -100%;
}
.inTheLines:after{
    margin-right: -100%;
}
